/* Resetting styles */
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Creating CSS variables */

:root {
    --bgColor: #FFFFFF;
    --penColor: #0782cf;
}

/* Main divisions */
body {
    background-color: #827397;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}


.header,
footer {
    align-items: center;
    background-color: #E9D5CA;
    color: #897397;
    display: flex;
    font-family: 'Fascinate', cursive;
    justify-content: center;
    padding: 12px;
}

.header {
    border-bottom: 5px solid #4D4C7D
}

footer {
    border-top: 5px solid #4D4C7D;
}

.header p {
    font-size: 3rem;
}

footer p {
    font-size: 1.5rem;
}

.centre-content-div {
    align-items: center;
    display: flex;
    gap: 5%;
    justify-content: center;
    padding: 35px;
}

/* Color controls */

button {
    background-color: #E9D5CA;
    border: 3px solid #827397;
    border-radius: 20px;
    color: #4D4C7D;
    font-size: 2rem;
    font-weight: 700;
    padding: 3px;
}

.color-controls-container {
    background-color: #4D4C7D;
    border: 5px solid #E9D5CA;
    border-radius: 10px;
    height: 700px;
    padding: 2rem;
    width: 400px;
}

.color-controls-container p {
    color: #E9D5CA;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

input[type=color] {
    background-color: transparent;
    border: transparent;
    flex-shrink: 0;
    height: 60px;
    margin: 5px;
    width: 60px;
}

::-webkit-color-swatch {
    border: transparent;
    border-radius: 50%;
}

.color-controls-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    padding: 20px 0px;
}

.toggle-button:active,
.active {
    top: 2px;
    left: 2px;
    background-color: #897397;
    color: #E9D5CA;
}

#rainbow-mode-btn {
    margin: 30px 0;
}

/* Interactive Canvas */

.canvas-container {
    background-image: url('');
    background-color: var(--bgColor);
    border: 5px solid #4D4C7D;
    height: 730px;
    width: 730px;
}

.new-row {
    display: flex;
}

.grid-space {
    border: 1px solid black;
    height: 12px;
    width: 12px;
}

/* Canvas Controls */

.canvas-controls-container {
    background-color: #4D4C7D;
    border: 5px solid #E9D5CA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 20px;
    margin: 0 16.5% 20px;
}

.canvas-controls-container button {
    background-color: #E9D5CA;
    border: 3px solid #827397;
    border-radius: 20px;
    color: #4D4C7D;
    font-size: 2rem;
    font-weight: 700;
    padding: 3px;
    width: 250px;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.canvas-controls-container button:hover {
    background-color: #4D4C7D;
    border: 3px solid #E9D5CA;
    color: #E9D5CA;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.file-input {
    background-color: red;
    display: flex;
    justify-content: centre;
    align-items: centre;
}